.show_nav {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingSection {
  background: no-repeat;
  background-size: cover;
}

.say-hello {
  background: url(../img/say-hello.jpg) no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: #0a205c;
}

.bg-skin {
  background-color: #fffaf6;
}

.text-lightblue {
  color: #4966b8;
}
